* {
  box-sizing: border-box;
}

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  margin: 2rem 1rem 1rem 1rem;
  font-family: "Kalam", cursive;
  color: #3c4f57;
}

.browser-container {
  text-align: center;
  margin-top: 1rem;
}

.browser-text {
  font-family: "Kalam", cursive;
  color: rgb(200, 6, 6);
  font-size: 1.2rem;
}

.user-container {
  text-align: center;
  font-family: "Kalam", cursive;
  color: #3c4f57;
  margin: 1rem;
}

.account-container {
  list-style: none;
  font-family: "Kalam", cursive;
  display: flex;
  justify-content: space-between;
  margin: 1rem 6rem;
}

.emphasis {
  color: rgb(200, 6, 6);
}

footer {
  text-align: center;
  margin: 1rem;
}

.home__icon {
  opacity: 0%;
}

.isActive {
  opacity: 100%;
}
