body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f0f3f8;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f3f8;
    padding: 20px;
  }
  
  .outer-box {
    background-color: #c2d5e8;
    border-radius: 10px;
    padding: 20px;
  }
  
  .logo {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: #3f51b5;
    margin-bottom: 20px;
  }
  
  .wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #eff2f7;
  }
  
  .login-container {
    display: flex;
    justify-content: space-between;
  }
  
  .login-container a {
    text-decoration: none;
    color: #3f51b5;
    margin: 5px;
  }
  
  .logo img {
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
  }
  
  .title {
    text-align: center;
    font-size: 1.5rem;
    margin: 2rem 1rem 1rem 1rem;
    font-family: "Kalam", cursive;
    color: #3c4f57;
  }
  
  .browser-container {
    text-align: center;
    margin-top: 1rem;
  }
  
  .browser-text {
    font-family: "Kalam", cursive;
    color: rgb(200, 6, 6);
    font-size: 1.2rem;
  }
  
  .user-container {
    text-align: center;
    font-family: "Kalam", cursive;
    color: #3c4f57;
    margin: 1rem;
  }
  
  .account-container {
    list-style: none;
    font-family: "Kalam", cursive;
    display: flex;
    justify-content: space-between;
    margin: 1rem 6rem;
  }
  
  .emphasis {
    color: rgb(200, 6, 6);
  }
  
  footer {
    text-align: center;
    margin: 1rem;
  }
  
  .home__icon {
    opacity: 0%;
  }
  
  .isActive {
    opacity: 100%;
  }
  
  .create-account-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f5f9;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
    margin: 0 auto;
    display: block;
    animation: App-logo-spin infinite 20s linear;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .App-logo {
      animation: none;
    }
  }
  
  .App-header {
    background-color: #3f51b5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(12px + 2vmin);
    color: #ffffff;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
    